
h1 {
    font-weight: 400;
    line-height: 1.1;
}

 body {

    color: white;
    line-height:1.4;
    font-weight: 400;
    font-size: 1;
    margin: 0;
    text-align: center;
    
  }
form {
    background-color: darkblue;
    padding: 20px 15px;
    border-radius:0.25;
    
  }
  .form-type{
    padding: 0.5rem;
    margin: 0 auto 1.2 auto;

  }
.input-textarea {
    width: 100%;
    padding: 0.5%;
}
.input-radio, .input-checkbox {
    display: inline-block;
    min-width: 1.5rem;
    min-height: 1.5rem;
}
.submit-button {
    width: 100%;
    padding: 0.75 rem;
    border-radius: 2px;
    display: block;

}
.header {
    padding:0 0.25;
    margin-bottom: 2rem;
}
